*{
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}

header {
    background: url('backgroundcv.jpg') no-repeat;
    background-color: rgb(99, 0, 0);
    background-blend-mode: multiply;
    opacity: .8;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    text-align: center;
}

header .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

header .wrapper h1 {
    color:rgb(240, 240, 240);
    text-transform: uppercase;
    font-size: 2.5rem;
    text-shadow: 0 5px 1px rgb(190, 0, 0);
    margin-bottom: 40px;
}

header .wrapper img {
    image-resolution: 20%;
    border-radius: 50%;
    border: 10px solid black;
    box-shadow: 0 28px 1t6px 1px rgba(0,0,0,.7);
    width: 60%;
    transition: transform .5s ease-out;
    cursor: pointer;
}

header .wrapper img:hover {
    transform: scale(1.1);
}

header .wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

header .wrapper ul li a {
    margin-right: 15px;
    text-decoration: none;
    color: rgb(245, 245, 245);
    text-transform: uppercase;
    font-size: 2.5rem;
    text-shadow: 0 4px 0px black;
    margin-bottom: 40px;
    padding-bottom: 10px;
    transition: border-bottom .5s ease-in-out;
}

header .wrapper ul li a:hover{
   border-bottom: 5px solid rgb(189, 0, 0);
}

.tentang-saya{
    background: rgb(63, 62, 62);
    color:black;
    text-align: center;
    padding: 15px 10px;
    height: 100vh;
    display: flex;
    align-items: center;
}

.tentang-saya .wrapper h2{
    text-shadow: 0 5px 1px rgb(190, 0, 0);
    font-size: 2.5rem;
    text-transform: uppercase;
    border-bottom: 7px solid black;
    display: inline-block;
    padding-bottom: 7px;
    margin-bottom: 20px;
}

.tentang-saya .wrapper p{
    text-shadow: 0 2.5px 0px black;
    font-size: 18px;
    line-height: 25px;
    padding: 0 35px;
    margin-bottom: 50px;
}

.tentang-saya .wrapper a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 10px 30px;
    border: 5px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgb(189, 0, 0);
}

.Skill {
    background: rgb(83, 83, 83);
    color:black;
    text-align: center;
    padding: 15px 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Skill .wrapper {
    width: 80%;
}

.Skill .wrapper h2{
    text-shadow: 0 5px 1px rgb(190, 0, 0);
    font-size: 2.5rem;
    text-transform: uppercase;
    border-bottom: 7px solid black;
    display: inline-block;
    padding-bottom: 7px;
    margin-bottom: 40px;
}

.Skill .wrapper-skill {
    text-align: left;
    margin-bottom: 10px;
}

.Skill .wrapper-skill h5 {
    text-transform: uppercase;
    text-shadow: 0 2px 0px rgb(248, 248, 248);
    font-size: 18px;
    margin-bottom: 6px;
    padding-left: 5px;
}

.Skill .wrapper-skill .background {
    position: relative;
    width: 100%;
    height: 30px;
    background: whitesmoke;
}


.Skill .wrapper-skill .background .indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    background: rgb(197, 0, 0);
    z-index: 2;
}

.indicator.html {
    width: 50%;
}

.indicator.css {
    width: 30%;
}

.indicator.js {
    width: 20%;
}

.indicator.Microsoft {
    width: 80%;
}

.contact {
    background: rgb(70, 69, 69);
    color:black;
    text-align: center;
    padding: 15px 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .wrapper h2 {
    text-shadow: 0 5px 1px rgb(190, 0, 0);
    font-size: 2.5rem;
    text-transform: uppercase;
    border-bottom: 7px solid black;
    display: inline-block;
    padding-bottom: 7px;
    margin-bottom: 40px;
}

.contact .wrapper-contact input, .contact .wrapper-contact textarea {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 11px;
    padding: 10px 15px;
    margin-bottom: 18px;
    font-family: sans-serif;
}

.contact .wrapper-contact textarea{
    height: 120px;
}

.contact .wrapper-contact input[type="submit"] {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 11px;
    padding: 10px 60px;
    border: 5px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgb(189, 0, 0);
    display: inline-block;
    padding-bottom: 23px;
    width: auto;
    cursor: pointer;
    transition: background .5s ease-out;
}

.contact .wrapper-contact input[type="submit"]:hover {
    background: rgb(189, 0, 0);
    box-shadow: 0 5px 25px -5px black;
}

footer{
    background: white;
    color : black;
    padding : 15px 0;
    text-align: center; 
}